<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.1.xsd">

	<menuitem name="menu-gesper-rh" order="-10" title="Gestion Administrative" icon="fa-user" icon-background="orange" />

	<menuitem name="menu-emplaye-all" parent="menu-gesper-rh"
    	title="Fiche Agent"
    	action="employee.list.dashboard.view"/>

	<menuitem name="top-menu-create-employe" order="-90" parent="top-menu-utility" top="true" title="Créer Agent" action="top.new.employe.view" />

	<menuitem name="menu-notes-all" parent="menu-gesper-rh"
			  title="Notes d'exercice"
			  action="notes.all"/>

	<menuitem name="menu-gesper-rh-conge" parent="" order="-9"
			  title="Congé" icon="fa-plane" icon-background="purple" />

	<menuitem name="menu-gesper-rh-conge-config" parent="menu-gesper-rh-conge"
			  title="Configuration"/>

	<menuitem name="menu-gesper-rh-conge-demande-conge" parent="menu-gesper-rh-conge"
			  title="Demandes congé"
	action="conge.all"/>

	<menuitem name="menu-gesper-rh-conge-config-type-conge" parent="menu-gesper-rh-conge-config"
			  title="Type congé"
			  action="type.conge.all" />

	<menuitem name="menu-gesper-rh-conge-config-nature-conge" parent="menu-gesper-rh-conge-config"
			  title="Nature congé"
			  action="nature.conge.all"/>

	<menuitem name="menu-gesper-rh-conge-config-jour-ferie" parent="menu-gesper-rh-conge-config"
			  title="Jour férie"
			  action="jour.ferie.all"/>

	<menuitem name="menu-gesper-rh-conge--autorisation-absence-all" parent="menu-gesper-rh-conge"
			  title="Autorisation d'absence"
			  action="autorisation.absence.all"/>
	<menuitem name="menu-avancement" parent="menu-gesper-rh"
			  title="Avancement"/>

	<menuitem name="menu-droit-avancement-all" parent="menu-avancement"
			  title="Droit avancement"
			  action="droit.avancement.all"/>

	<menuitem name="menu-avancement-validation" parent="menu-avancement"
			  title="Valider les avancement" action="avancement.validate.all"/>

	<menuitem name="menu-reporting" parent="menu-gesper-rh"
			  title="Rapports" action="action.rapport.all"/>

	<!-- ACTIONS -->

	<action-view name="top.new.employe.view" title="Créer Agent" model="com.axelor.rh.db.Employe" >
		<view type="form" name="employe-rh-form"/>
		<view type="grid" name="employe-rh-grid"/>
	</action-view>

	<action-view name="employe.all" title="Agents" model="com.axelor.rh.db.Employe">
    	<view type="grid" name="employe-rh-grid"/>
	    <view type="form" name="employe-rh-form"/>
	</action-view>

	<action-view name="employee.list.dashboard.view" title="Agents">
		<view type="dashboard" name="rh.employee.list.dashboard" />
	</action-view>

	<action-view name="notes.all" title="Notes d'exercice" model="com.axelor.rh.db.Note">
		<view type="grid" name="notes-rh-grid"/>
		<view type="form" name="notes-rh-form"/>
	</action-view>

	<action-view name="type.conge.all" model="com.axelor.rh.db.TypeConge" title="Types congés">
		<view name="type-conge-grid" type="grid"/>
		<view name="type-conge-form" type="form"/>
	</action-view>

	<action-view name="autorisation.absence.all" model="com.axelor.rh.db.AutorisationAbsence" title="Autorisation d'absence">
		<view name="autorisation-absence-grid" type="grid"/>
		<view name="autorisation-absence-form" type="form"/>
	</action-view>

	<action-view name="nature.conge.all" model="com.axelor.rh.db.NatureConge" title="Natures congé">
		<view name="nature-conge-grid" type="grid"/>
		<view name="nature-conge-form" type="form"/>
	</action-view>

	<action-view name="jour.ferie.all" model="com.axelor.rh.db.JourFerie" title="Jours fériés">
		<view name="jour-ferie-grid" type="grid"/>
		<view name="jour-ferie-form" type="form"/>
	</action-view>

	<action-view name="conge.all" model="com.axelor.rh.db.Conge" title="Demanade de Congé">
		<view name="conge-grid" type="grid"/>
		<view name="conge-form" type="form"/>
	</action-view>
</object-views>
