<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.1.xsd">

	<menuitem name="menu-gesper-rh" order="-10" title="Gestion Administrative" icon="fa-user" icon-background="orange" />

	<menuitem name="menu-emplaye-all" parent="menu-gesper-rh"
    	title="Fiche Agent"
    	action="employee.list.dashboard.view"/>

	<menuitem name="top-menu-create-employe" order="-90" parent="top-menu-utility" top="true" title="Créer Agent" action="top.new.employe.view" />

	<action-view name="top.new.employe.view" title="Créer Agent" model="com.axelor.rh.db.Employe" >
		<view type="form" name="employe-rh-form"/>
		<view type="grid" name="employe-rh-grid"/>
	</action-view>

	<action-view name="employe.all" title="Agents" model="com.axelor.rh.db.Employe">
    	<view type="grid" name="employe-rh-grid"/>
	    <view type="form" name="employe-rh-form"/>
	</action-view>

	<action-view name="employee.list.dashboard.view" title="Agents">
		<view type="dashboard" name="rh.employee.list.dashboard" />
	</action-view>


	<menuitem name="menu-notes-all" parent="menu-gesper-rh"
			  title="Notes d'exercice"
			  action="notes.all"/>

	<action-view name="notes.all" title="Notes d'exercice" model="com.axelor.rh.db.Note">
		<view type="grid" name="notes-rh-grid"/>
		<view type="form" name="notes-rh-form"/>
	</action-view>

</object-views>
